/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #87cefa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: #00bfff;
}

img {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

div {
  text-align: center;
  margin-top: 20px;
}
